# Dataset Load and Analysis or EDA

In [81]:


import numpy as np 
import pandas as pd 


import os
for dirname, _, filenames in os.walk('../data/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

../data/input/Multiple_NER_Bengali_Dataset.csv
../data/input/bengali_ner_dataset.csv
../data/input/NER_Training_Data.xlsx

In [82]:
# df = pd.read_excel('../data/input/NER_Training_Data.xlsx')
df = pd.read_csv('../data/input/Multiple_NER_Bengali_Dataset.csv')
df.head(10)

                                            sentence
0  ব্যবহারকারীর নাম হলো তানভীর. প্রকাশকের নাম ইত্...
1  বইটির নাম গীতাঞ্জলি. ব্যবহারকারীর নাম হলো আফসানা.
2  ব্র্যান্ডটি হলো সনি. ব্যবহারকারীর নাম হলো মাহম...
3  ঠিকানাটি হলো গুলশান, ঢাকা. পণ্যের নাম ডেল ল্যা...
4  বইটির নাম পথের পাঁচালী. ব্র্যান্ডটি হলো নোকিয়...
5  বিষয়শ্রেণী ফ্যাশন অন্তর্ভুক্ত। প্রকাশকের নাম ...
6  ঠিকানাটি হলো শাহবাগ, চট্টগ্রাম. অর্ডার নম্বরটি...
7  বইটির নাম পথের পাঁচালী. ফোন নম্বর ০১৭১২৩৪৫৬৭৮।...
8  পণ্যের নাম নোকিয়া মোবাইল। প্রকাশকের নাম সেবা ...
9  ব্র্যান্ডটি হলো নোকিয়া. ব্যবহারকারীর নাম হলো ...

In [83]:
# extract messages
messages_df = df['sentence']
messages_df

0       ব্যবহারকারীর নাম হলো তানভীর. প্রকাশকের নাম ইত্...
1       বইটির নাম গীতাঞ্জলি. ব্যবহারকারীর নাম হলো আফসানা.
2       ব্র্যান্ডটি হলো সনি. ব্যবহারকারীর নাম হলো মাহম...
3       ঠিকানাটি হলো গুলশান, ঢাকা. পণ্যের নাম ডেল ল্যা...
4       বইটির নাম পথের পাঁচালী. ব্র্যান্ডটি হলো নোকিয়...
                              ...
1495    পণ্যের নাম ডেল ল্যাপটপ। প্রকাশকের নাম প্রথমা প...
1496    লেখকের নাম আহমদ ছফা। বইটির নাম গীতাঞ্জলি. প্রক...
1497    ঠিকানাটি হলো গুলশান, ঢাকা. তারিখটি ১৫ আগস্ট ২০২২।
1498    ঠিকানাটি হলো ধানমন্ডি, ঢাকা. ব্যবহারকারীর নাম ...
1499    ব্যবহারকারীর নাম হলো তানভীর. পণ্যের নাম নোকিয়...
Name: sentence, Length: 1500, dtype: object

## Remove URL

In [84]:
import pandas as pd
import re

def remove_urls(text):
    """Remove URLs while preserving the rest of the text"""
    if pd.isna(text):
        return text
    
    # URL pattern
    url_pattern = r'http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\\(\\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+'
    
    text = re.sub(url_pattern, '', str(text))
    
    text = re.sub(r'\s+', ' ', text).strip()
    
    return text

messages_df = messages_df.apply(remove_urls)

messages_df.head(10)

0    ব্যবহারকারীর নাম হলো তানভীর. প্রকাশকের নাম ইত্...
1    বইটির নাম গীতাঞ্জলি. ব্যবহারকারীর নাম হলো আফসানা.
2    ব্র্যান্ডটি হলো সনি. ব্যবহারকারীর নাম হলো মাহম...
3    ঠিকানাটি হলো গুলশান, ঢাকা. পণ্যের নাম ডেল ল্যা...
4    বইটির নাম পথের পাঁচালী. ব্র্যান্ডটি হলো নোকিয়...
5    বিষয়শ্রেণী ফ্যাশন অন্তর্ভুক্ত। প্রকাশকের নাম ...
6    ঠিকানাটি হলো শাহবাগ, চট্টগ্রাম. অর্ডার নম্বরটি...
7    বইটির নাম পথের পাঁচালী. ফোন নম্বর ০১৭১২৩৪৫৬৭৮।...
8    পণ্যের নাম নোকিয়া মোবাইল। প্রকাশকের নাম সেবা ...
9    ব্র্যান্ডটি হলো নোকিয়া. ব্যবহারকারীর নাম হলো ...
Name: sentence, dtype: object

## Remove Empty Srting

In [85]:
import pandas as pd
import re

def clean_messages(messages_df):
    # Remove URLs
    messages_df = messages_df.apply(lambda x: re.sub(r'http[s]?://\S+', '', str(x)))
    
    # Remove empty strings and whitespace-only strings
    messages_df = messages_df[messages_df.str.strip() != '']
    
    return messages_df

messages_df = clean_messages(messages_df)

print("Sample messages:")
print(messages_df.head())
print(f"\nTotal messages after cleaning: {len(messages_df)}")

Sample messages:
0    ব্যবহারকারীর নাম হলো তানভীর. প্রকাশকের নাম ইত্...
1    বইটির নাম গীতাঞ্জলি. ব্যবহারকারীর নাম হলো আফসানা.
2    ব্র্যান্ডটি হলো সনি. ব্যবহারকারীর নাম হলো মাহম...
3    ঠিকানাটি হলো গুলশান, ঢাকা. পণ্যের নাম ডেল ল্যা...
4    বইটির নাম পথের পাঁচালী. ব্র্যান্ডটি হলো নোকিয়...
Name: sentence, dtype: object

Total messages after cleaning: 1500

## Null Value Check

In [86]:
messages_df.isna().sum()

0

## Duplicate checking

In [87]:
messages_df.duplicated().sum()

39

## Remove Duplicate

In [88]:
messages_df.drop_duplicates(inplace=True)

## Convert Data Frame to List

In [89]:
messages = messages_df.tolist()

# Display 10 messages from top
messages[:10]

['ব্যবহারকারীর নাম হলো তানভীর. প্রকাশকের নাম ইত্যাদি গ্রন্থ প্রকাশ. অর্ডার নম্বরটি ORD11121. বইটির নাম বিষাদসিন্ধু.',
 'বইটির নাম গীতাঞ্জলি. ব্যবহারকারীর নাম হলো আফসানা.',
 'ব্র্যান্ডটি হলো সনি. ব্যবহারকারীর নাম হলো মাহমুদুল. অর্ডার নম্বরটি ORD11121.',
 'ঠিকানাটি হলো গুলশান, ঢাকা. পণ্যের নাম ডেল ল্যাপটপ। তারিখটি ১৫ আগস্ট ২০২২।',
 'বইটির নাম পথের পাঁচালী. ব্র্যান্ডটি হলো নোকিয়া. লেনদেন নম্বর TXN987654. ফোন নম্বর ০১৮৯৮৭৬৫৪৩২।',
 'বিষয়শ্রেণী ফ্যাশন অন্তর্ভুক্ত। প্রকাশকের নাম সেবা প্রকাশনী.',
 'ঠিকানাটি হলো শাহবাগ, চট্টগ্রাম. অর্ডার নম্বরটি ORD67890.',
 'বইটির নাম পথের পাঁচালী. ফোন নম্বর ০১৭১২৩৪৫৬৭৮। ঠিকানাটি হলো কক্সবাজার, চট্টগ্রাম.',
 'পণ্যের নাম নোকিয়া মোবাইল। প্রকাশকের নাম সেবা প্রকাশনী. লেখকের নাম রবীন্দ্রনাথ ঠাকুর।',
 'ব্র্যান্ডটি হলো নোকিয়া. ব্যবহারকারীর নাম হলো আফসানা. ঠিকানাটি হলো গুলশান, ঢাকা. আইডি নম্বর হলো ID2023004।']

# Load Model

In [90]:
from dotenv import load_dotenv
#from kaggle_secrets import UserSecretsClient
#user_secrets = UserSecretsClient()
load_dotenv()


#api_key = user_secrets.get_secret("OPENAI_API_KEY")
api_key = os.getenv("OPENAI_API_KEY")

In [91]:
from openai import OpenAI

client = OpenAI(api_key=api_key)

## Define Structured Outputs Formate

In [92]:
from pydantic import BaseModel, Field
from typing import Optional

class NER(BaseModel):
    Message: Optional[str] = Field(None, description="The message or text to be analyzed.")
    username: Optional[str] = Field(None, description="The user's name entity.")
    authorname: Optional[str] = Field(None, description="The name of the author.")
    Address: Optional[str] = Field(None, description="The address entity.")
    bookname: Optional[str] = Field(None, description="The name of the book.")
    productname: Optional[str] = Field(None, description="The name of the product.")
    publishername: Optional[str] = Field(None, description="The name of the publisher.")
    categoryname: Optional[str] = Field(None, description="The name of the category.")
    brandname: Optional[str] = Field(None, description="The name of the brand.")
    date: Optional[str] = Field(None, description="Date information.")
    phoneno: Optional[str] = Field(None, description="The phone number entity.")
    orderno: Optional[str] = Field(None, description="The order number entity.")
    trnx_ID: Optional[str] = Field(None, description="The transaction ID entity.")

# Test Single Massage and extract NER

In [93]:
messages[2]

'ব্র্যান্ডটি হলো সনি. ব্যবহারকারীর নাম হলো মাহমুদুল. অর্ডার নম্বরটি ORD11121.'

In [94]:
system_prompt = "You are expart to extract the user information with NER. User provided messages will Bengla, English or Both"

In [95]:

completion = client.beta.chat.completions.parse(
    model="gpt-4o-2024-08-06",
    messages=[
        {"role": "system", "content": system_prompt},
        {"role": "user", "content": f"This is user message:\n{messages[2]}"},
    ],
    response_format=NER,
)

usr_ner = completion.choices[0].message.parsed
usr_ner

NER(Message='ব্র্যান্ডটি হলো সনি. ব্যবহারকারীর নাম হলো মাহমুদুল. অর্ডার নম্বরটি ORD11121.', username='মাহমুদুল', authorname=None, Address=None, bookname=None, productname=None, publishername=None, categoryname=None, brandname='সনি', date=None, phoneno=None, orderno='ORD11121', trnx_ID=None)

### Convert It Dectionary

In [97]:
import json

ner_dict = {
    "Message": usr_ner.Message,
    # "Message": messages[2],
    "username": usr_ner.username,
    "authorname": usr_ner.authorname,
    "Address": usr_ner.Address,
    "bookname": usr_ner.bookname,
    "productname": usr_ner.productname,
    "publishername": usr_ner.publishername,
    "categoryname": usr_ner.categoryname,
    "brandname": usr_ner.brandname,
    "date": usr_ner.date,
    "phoneno": usr_ner.phoneno,
    "orderno": usr_ner.orderno,
    "trnx_ID": usr_ner.trnx_ID,
}

ner_json = json.dumps(ner_dict, ensure_ascii=False, indent=4)
print(ner_json)

{
    "Message": "ব্র্যান্ডটি হলো সনি. ব্যবহারকারীর নাম হলো মাহমুদুল. অর্ডার নম্বরটি ORD11121.",
    "username": "মাহমুদুল",
    "authorname": null,
    "Address": null,
    "bookname": null,
    "productname": null,
    "publishername": null,
    "categoryname": null,
    "brandname": "সনি",
    "date": null,
    "phoneno": null,
    "orderno": "ORD11121",
    "trnx_ID": null
}

In [98]:
from tqdm import tqdm

parsed_events = []

for message in tqdm(messages[:10], desc="Processing User Messages"):
    completion = client.beta.chat.completions.parse(
        model="gpt-4o-2024-08-06",
        messages=[
            {"role": "system", "content": system_prompt},
            {"role": "user", "content": f"This is user message:\n{message}"},
        ],
        response_format=NER,
    )
    usr_message = completion.choices[0].message.parsed

  
    usr_message_dict = {
        "Message": message,
        "username": usr_message.username,
        "authorname": usr_message.authorname,
        "Address": usr_message.Address,
        "bookname": usr_message.bookname,
        "productname": usr_message.productname,
        "publishername": usr_message.publishername,
        "categoryname": usr_message.categoryname,
        "brandname": usr_message.brandname,
        "date": usr_message.date,
        "phoneno": usr_message.phoneno,
        "orderno": usr_message.orderno,
        "trnx_ID": usr_message.trnx_ID,
    }

    parsed_events.append(usr_message_dict)

df = pd.DataFrame(parsed_events)

# Save the DataFrame to a CSV file
csv_file = "../data/output/users_NER.csv"
df.to_csv(csv_file, index=False)

print(f"CSV file '{csv_file}' created successfully.")

Processing User Messages:   0%|          | 0/10 [00:00<?, ?it/s]

Processing User Messages: 100%|██████████| 10/10 [00:42<00:00,  4.25s/it]

CSV file '../data/output/users_NER.csv' created successfully.

In [99]:
df

,Message,username,authorname,Address,bookname,productname,publishername,categoryname,brandname,date,phoneno,orderno,trnx_ID
0,ব্যবহারকারীর নাম হলো তানভীর. প্রকাশকের নাম ইত্...,তানভীর,None,None,বিষাদসিন্ধু,None,ইত্যাদি গ্রন্থ প্রকাশ,None,None,None,None,ORD11121,None
1,বইটির নাম গীতাঞ্জলি. ব্যবহারকারীর নাম হলো আফসানা.,আফসানা,None,None,গীতাঞ্জলি,None,None,None,None,None,None,None,None
2,ব্র্যান্ডটি হলো সনি. ব্যবহারকারীর নাম হলো মাহম...,মাহমুদুল,None,None,None,None,None,None,সনি,None,None,ORD11121,None
3,"ঠিকানাটি হলো গুলশান, ঢাকা. পণ্যের নাম ডেল ল্যা...",None,None,"গুলশান, ঢাকা",None,ডেল ল্যাপটপ,None,None,None,১৫ আগস্ট ২০২২,None,None,None
4,বইটির নাম পথের পাঁচালী. ব্র্যান্ডটি হলো নোকিয়...,None,None,None,পথের পাঁচালী,None,None,None,নোকিয়া,None,০১৮৯৮৭৬৫৪৩২,None,TXN987654
5,বিষয়শ্রেণী ফ্যাশন অন্তর্ভুক্ত। প্রকাশকের নাম ...,None,None,None,None,None,সেবা প্রকাশনী,ফ্যাশন,None,None,None,None,None
6,"ঠিকানাটি হলো শাহবাগ, চট্টগ্রাম. অর্ডার নম্বরটি...",None,None,"শাহবাগ, চট্টগ্রাম",None,None,None,None,None,None,None,ORD67890,None
7,বইটির নাম পথের পাঁচালী. ফোন নম্বর ০১৭১২৩৪৫৬৭৮।...,None,None,"কক্সবাজার, চট্টগ্রাম",পথের পাঁচালী,None,None,None,None,None,০১৭১২৩৪৫৬৭৮,None,None
8,পণ্যের নাম নোকিয়া মোবাইল। প্রকাশকের নাম সেবা ...,None,রবীন্দ্রনাথ ঠাকুর,None,None,নোকিয়া মোবাইল,সেবা প্রকাশনী,None,None,None,None,None,None
9,ব্র্যান্ডটি হলো নোকিয়া. ব্যবহারকারীর নাম হলো ...,আফসানা,None,"গুলশান, ঢাকা",None,None,None,None,নোকিয়া,None,None,None,ID2023004